#estadisticas{
	display: inline-flex;
	align-content: center;
}

.imagen-estaditica{
	margin: 20px;
}

.crappers{
	padding-bottom: 4em;
}

#tabla{
	align-content: center;
}

.statImgCont{
	width: 100%;
}

.statImg{
	width: 90%;

	padding: 5em;
}

.recuadro{
	border-style: dashed;
	border-width: 0.2em;
	border-color: #fef20f;
	margin: 1em;
	border-radius: 1em;
	text-align:center;
	padding: 0.5em;

	
}
.recuadro > p{
	margin-bottom: 0;
}

